@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="/Content/styles.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
    This Yes..
        ....................................
    </div>
</body>
</html>
