
<div class="wrapper">
<h1 class="WCP">Family Planning Class Registration</h1>

<p>We offer a variety of classes for you and your family to take advantage of.  Let's have a nice tree right here. It's a super day, so why not make a beautiful sky? Just let this happen. We just let this flow right out of our minds. You can do anything here - the only pre-requisite is that it makes you happy.</p>
 
<h2>Class Options</h2>
<div class="form"
 <form method="post">
    <div class="form">
        <fieldset class="fieldset">
        <legend class="legend-text">Select Class Date</legend>
        <input type="radio" name="FPDates" id="" value="" class="" />Date 1 
        <input type="radio" name="FPDates" id="" value="" class="" />Date 2 
        <input type="radio" name="FPDates" id="" value="" class="" />Date 3 
        </fieldset>
    </div>
     <div class="form">
        <fieldset class="fieldset">
        <legend class="legend-text">Please Enter your Information</legend>
        First Name:<br /><input type="text" name="FirstName" id="" value="" class="Form-InfoInput" size="50"  /><br />
        Last Name:<br /><input type="text" name="LastName" id="" value="" class="Form-InfoInput" size="50" /><br />
        Email:<br /><input type="email" name="EmailAddress" id="" value="" class="Form-InfoInput" size="50" /><br />
        </fieldset>
    </div>
     <div class="form">
        
        
        <input type="button" type="submit" name="FirstName" id="" value="Submit" class="Form-InfoInput" size="50"  /><br />
        
    </div>





     </form>
</div>

