<div class="wrapper">

<h1 class="WCP">Family Planning Class</h1>

<p>Let's have a nice tree right here. It's a super day, so why not make a beautiful sky? Just let this happen. We just let this flow right out of our minds. You can do anything here - the only pre-requisite is that it makes you happy.</p>
 
<h2>Registration Information</h2>

        <table>
            <tr>
                <td class="table-data-header">First Name:</td>
                <td>@Model.Participant</td>
            </tr>
            <tr>
                <td class="table-data-header">Last Name:</td>
                <td></td>
            </tr>
            <tr>
                <td class="table-data-header">Email Address:</td>
                <td></td>
            </tr>



        </table>
        
        <input type="image" type="submit" name="FirstName" id="" value="Submit" class="Button-Submit" src="/SubmitButton.png" />
        
    </div>


