@charset "utf-8";
/* CSS Document */
body {
	background-color: #b5b1fd;
	max-width:70%;
	margin:auto;
	}
.wrapper {
	background-color: #FFF;
    padding-bottom: -5px;
}
.WCPlogo{
	background-color: #FFF;
}
.button-wrapper {
	display:block;
	background-color: #FFF;
}
h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding-left: 20px;
	}
h2 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-left:20px;
	}
p {
	padding-left:20px;
	padding-right:20px;
}
}
img .logo {
	width: 50%;
	
}
.footer{
	display: block;
	
}
/*--------------------- Form properties---------------------*/

.form {
    margin: 0 auto;
    max-width:80%
}
form {
    margin:auto;
    
}    
    
.legend-text {
	font-family:'Brush Script MT';
    font-size:205%;
}
.fieldset {
    max-width:80%;
}

input[type=text]:focus {
    background-color:#f7b8fe;
}
input[type=email]:focus {
    background-color:#f7b8fe;
}